.flex {
  display: flex;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-align-center {
  display: flex;
  align-items: center;
}
.flex-item {
  flex: 1;
}
.self-top {
  align-self: flex-start;
}
.fix-bottom {
  position: fixed !important;
  z-index: 1;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: white;
}

// 生成内边距、外边距工具类
$directionList: (
    "": "",
    -top: "-t",
    -right: "-r",
    -bottom: "-b",
    -left: "-l",
);
$sizeMap: (
    no: 0,
    sm: 10rpx,
    md: 20rpx,
    lg: 32rpx,
    xl: 36rpx
);
@each $direction, $prefix in $directionList {
  @each $header, $size in $sizeMap {
    .padding#{$prefix}-#{$header} {
      padding#{$direction}: $size !important;
    }
  }
}
@each $direction, $prefix in $directionList {
  @each $header, $size in $sizeMap {
    .margin#{$prefix}-#{$header} {
      margin#{$direction}: $size !important;
    }
  }
}
