@import "../../scss/variables";

.container {
  padding: 32rpx 32rpx 98rpx;
}
.activity-title {
  font-size: 36rpx;
  font-weight: bold;
  color: $strong-color;
}
.activity-image {
  width: 606rpx;
}
.activity-image{
  width: 600rpx;
  margin: 12rpx auto;
}