@import "../../scss/variables";

.container {
  padding-bottom: 64rpx;
  .header {
    height: 90rpx;
  }
}
.main-info {
  margin: -80rpx 32rpx 0;
  .avatar {
    width: 132rpx;
    height: 132rpx;
    border-radius: 50%;
    background-color: $bg-color;
  }
}

.experience-empty {
  width: 189rpx;
  height: 203rpx;
}
