@import "../../scss/variables";

.business-card-avatar {
  width: 96rpx;
  height: 96rpx;
  border-radius: 50%;
  background-color: $bg-color;
}

.business-card-header {
  display: flex;
  padding-bottom: 8rpx;
  align-items: flex-end;
}
