@import "../../../scss/variables";

.alumni-space-card-avatar {
  width: 96rpx;
  height: 96rpx;
  border-radius: 50%;
  background-color: $bg-color;
}

.alumni-space-card-header {
  display: flex;
  padding-bottom: 14rpx;
  //justify-content: center; /* 水平居中 */
  align-items: center;     /* 垂直居中 */
  //align-items: flex-end;
  flex:1 ;
  image{
    height: 3rpx;
    width: 3rpx;
  }
  text{
    margin-right: 10rpx;
  }
  text:nth-child(1) {
    font-size:32rpx;
    font-family:SourceHanSansSC;
    font-weight:400;
    color:rgba(33,33,33,1);
  }
  text:nth-child(3) {
    width:88rpx;
    background:rgba(58,130,230,1);
    border-radius:13rpx;
    text-align: center;

    font-size:18rpx;
    font-family:SourceHanSansSC;
    font-weight:400;
    color:rgba(255,255,255,1);
  }

  text:nth-child(4) {
    width:77rpx;
    border:1rpx solid rgba(58,130,230,1);
    border-radius:13rpx;
    font-size:18rpx;
    font-family:SourceHanSansSC;
    font-weight:400;
    color:rgba(58,130,230,1);
    text-align: center;
  }
}

.alumni-space-card-desc {
  //width:507px;
  height:54rpx;
  font-size:24rpx;
  font-family:SourceHanSansSC;
  font-weight:400;
  color:rgba(109,109,109,1);
  line-height:31rpx;
}
