@import "../../scss/variables";

.info-card {
  margin: -32rpx 32rpx 0;
  padding: 0 32rpx;
  .avatar {
    position: relative;
    top: -52rpx;
    display: block;
    width: 98rpx;
    height: 98rpx;
    margin: 0 auto -52rpx;
    border: 6rpx solid white;
    border-radius: 50%;
    background-color: $bg-color;
  }
}

.info-list {
  display: flex;
  flex-wrap: wrap;
  padding: 16rpx 0;

  & > .field {
    width: 50%;
    font-size: 24rpx;
    padding: 8rpx 0;
  }
}
