@import "../../scss/variables";
@import "../../scss/svg";

.info-area{
  align-items: center;
  background-color: #fff;
  .avater-field {
    position: absolute;
    transform: translateY(-50%);
    .avatar {
      width: 100rpx;
      height: 100rpx;
      border-radius: 50%;
      border: 5rpx solid #fff;
      background-color: $bg-color;
    }
  }
  .name-field{
    position: relative;
    margin-top: 60rpx;
    & > icon{
      @include svg("edit", white);
      position: absolute;
      right: -50rpx;
      width: 40rpx;
      height: 40rpx;
      border-radius: 50%;
      background-color: $theme-color;
    }
  }
  .info-list{
    justify-content: left;
    flex-wrap: wrap;
    padding: 0 28rpx 15rpx;
    width: 630rpx;
    & > view{
      padding: 5rpx 0;
      font-size: 24rpx;
      width: 50%;
    }
    & text{
      font-size: 24rpx;
      overflow: hidden;
    }
  }
}