@import "../../scss/variables";

.action-sheet {
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(black, 0.5);
  .context {
    background: $gray-lightest;
    padding-top: 4rpx;
    border-radius: 16rpx 16rpx 0 0;
    position: fixed;
    width: 100vw;
    bottom: 0;
    z-index: 888;
    overflow: hidden;
    .row {
      width: 100%;
      line-height: 50px;
      background: #fff;
    }
  }
}
