@import "../../scss/variables";

.container {
  padding: 32rpx 32rpx 92rpx;
}
.input-card {
  padding: 16rpx 24rpx;
  display: flex;
  align-items: center;
}
.textarea {
  width: 100%;
  height: 180rpx;
  padding: 8rpx 0 8rpx 8rpx;
}
