@import "../../scss/variables";

.container {
  padding: 32rpx 32rpx 98rpx;
}
.demand-title {
  font-size: 36rpx;
  font-weight: bold;
  color: $strong-color;
}
.demand-image{
  width: 100%;
  margin: 12rpx auto;
}