@import "../../scss/variables";

// 准备搜索
.ready-text {
  padding-top: 50rpx;
  & > text {
    position: relative;
    padding: 0 34rpx;
    &:not(:last-child)::before {
      position: absolute;
      top: 6rpx;
      right: 0;
      bottom: 6rpx;
      width: 2rpx;
      content: "";
      transform: scaleX(.5);
      background-color: $gray-deep;
    }
  }
}

// 搜索结果
.search-result {
  position: absolute;
  top: 114rpx;
  right: 0;
  bottom: 0;
  left: 0;
  margin-bottom: 0;
}
.search-result-capsule {
  padding: 0 36rpx;
  font-size: 24rpx;
  line-height: 50rpx;
  color: rgba($strong-color, .5);
  border-radius: 25rpx;
  background-color: $bg-color;
}

.search-item {
  padding: 20rpx 40rpx 20rpx 54rpx;
  &:active {
    opacity: .7;
  }
}
