@import "../../scss/variables";
@import "../../scss/border";

.header {
  height: 90rpx;
}

.nav-list {
  padding: 0 40rpx;
  margin: 34rpx 32rpx;

  .nav-item {
    font-size: 28rpx;
    height: 122rpx;
    display: flex;
    align-items: center;
    color: black;

    & + .nav-item {
      @include borderPoint5("t");
    }

    .red-number {
      width: 34rpx;
      height: 34rpx;
      border-radius: 50%;
      color: white;
      background-color: #FD3F3F;
    }
  }
}

.experience-empty {
  width: 189rpx;
  height: 203rpx;
}
