@import "./assets/scss/reset";

@import "./assets/scss/layout";
@import "./assets/scss/border";
@import "./assets/scss/font";

@import "./assets/scss/card";
@import "./assets/scss/field";
@import "./assets/scss/tag";

.search {
  position: relative;
  display: flex;
  align-items: center;
  & > icon {
    position: absolute;
    top: 20rpx;
    left: 20rpx;
  }
  &-input {
    padding: 10rpx 15rpx 9rpx 70rpx;
    flex: 1;
    border-radius: 4rpx;
    background-color: $bg-color;
  }
}

.link {
  color: $theme-color;
  &:active {
    opacity: .7;
  }
}

.tap:active {
  opacity: .7;
}

@import "./assets/scss/svg";
.icon-location {
  @include svg("location");
}
.icon-arrow-up {
  @include svg("arrow-up");
}
.icon-arrow-right {
  @include svg("arrow-up");

  transform: rotate(-90deg);
}
.icon-ercode {
  @include svg("ercode", 42rpx, $gray-base);
}
.icon-plane {
  @include svg("plane");
}
.icon-plus {
  @include svg("plus", $theme-color);
}
.icon-error {
  @include svg("error", $red-base);
}
.icon-camera {
  @include svg("camera", 48rpx, white);
}
.icon-edit {
  @include svg("edit", $theme-color);
}
