@import "./scss/reset";

@import "./scss/layout";
@import "./scss/border";
@import "./scss/font";

@import "./scss/search";
@import "./scss/header";
@import "./scss/card";
@import "./scss/field";
@import "./scss/tag";

.link {
  color: $theme-color;
  &:active {
    opacity: .7;
  }
}

.tap:active {
  opacity: .7;
}

@import "./scss/svg";
.icon-location {
  @include svg("location");
}
.icon-arrow-up {
  @include svg("arrow-up");
}
.icon-arrow-right {
  @include svg("arrow-up");

  transform: rotate(-90deg);
}
.icon-ercode {
  @include svg("ercode", 42rpx, $gray-base);
}
.icon-plane {
  @include svg("plane");
}
.icon-plus {
  @include svg("plus", $theme-color);
}
.icon-error {
  @include svg("error", $red-base);
}
.icon-camera {
  @include svg("camera", 48rpx, white);
}
.icon-edit {
  @include svg("edit", $theme-color);
}
