@import "./scss/reset";

@import "./scss/layout";
@import "./scss/border";
@import "./scss/font";

@import "./scss/search";
@import "./scss/card";
@import "./scss/field";
@import "./scss/tag";
@import "./scss/icon";

.header {
  display: flex;
  align-items: center;
  font-size: 28rpx;
  color: $gray-lighter;
  border-radius: 0 0 20rpx 20rpx;
  background-color: $theme-color;
  box-shadow: 0 6rpx 18rpx 0 rgba($shadow-color, .25);
}

.link {
  color: $theme-color;
  &:active {
    opacity: .7;
  }
}

.tap:active {
  opacity: .7;
}
