@import "variables";
@import "svg";

.header {
  display: flex;
  padding: 53rpx 42rpx;
  align-items: center;
  font-size: 28rpx;
  color: $gray-lighter;
  border-radius: 0 0 40rpx 40rpx;
  background-color: $theme-color;

  .avatar {
    width: 143rpx;
    height: 143rpx;
    border-radius: 50%;
    background-color: $bg-color;
  }

  .icon-location {
    @include svg("location", 46rpx, white);
  }
}
