@import "variables";
@import "svg";

.header {
  display: flex;
  align-items: center;
  font-size: 28rpx;
  color: $gray-lighter;
  border-radius: 0 0 20rpx 20rpx;
  background-color: $theme-color;
  box-shadow: 0 6rpx 18rpx 0 rgba($shadow-color, .25);

  .avatar {
    width: 142rpx;
    height: 142rpx;
    border-radius: 50%;
    background-color: $bg-color;
  }

  .icon-location {
    @include svg("location", 46rpx, white);
  }
}
