@font-face {
  font-family: "iconfont";
  src: url("https://at.alicdn.com/t/font_1527314_x8h7ie2hvdl.ttf");
}
/* 勿覆盖iconfont样式 开始 */
.iconfont {
  display: inline-block;
  font-family: "iconfont" !important;
  font-size: inherit;
  font-style: normal;
  vertical-align: middle;
  &:before {
    position: relative;
    top: 1px;
  }
}
/* 勿覆盖iconfont样式 结束 */

/* icon增删改动从此处开始覆盖 */
.icon-hand:before {
  content: "\e603";
}

.icon-shield:before {
  content: "\e604";
}

.icon-card:before {
  content: "\e605";
}

.icon-round:before {
  content: "\e606";
}

.icon-message:before {
  content: "\e607";
}

.icon-phone:before {
  content: "\e608";
}

.icon-wechat:before {
  content: "\e609";
}

.icon-calendar:before {
  content: "\e60a";
}

.icon-arrow-up:before {
  content: "\e60b";
}

.icon-error:before {
  content: "\e60c";
}

.icon-location:before {
  content: "\e60f";
}

.icon-edit:before {
  content: "\e611";
}

.icon-arrow-right:before {
  content: "\e614";
}

.icon-link:before {
  content: "\e60d";
}

.icon-ercode:before {
  content: "\e60e";
}
