@font-face {
  font-family: "iconfont";
  src: url("https://at.alicdn.com/t/font_1527314_qz4hdshfix.ttf");
}
/* 勿覆盖iconfont样式 开始 */
.iconfont {
  display: inline-block;
  font-family: "iconfont" !important;
  font-size: inherit;
  font-style: normal;
  vertical-align: middle;
  &:before {
    position: relative;
    top: 1px;
  }
}
/* 勿覆盖iconfont样式 结束 */

/* icon增删改动从此处开始覆盖 */

.icon-arrow-right:before {
  content: "\e614";
}

.icon-arrow-up:before {
  content: "\e610";
}

.icon-bugle:before {
  content: "\e612";
}

.icon-card:before {
  content: "\e613";
}

.icon-calendar:before {
  content: "\e615";
}

.icon-edit:before {
  content: "\e616";
}

.icon-excl-o:before {
  content: "\e617";
}

.icon-hand:before {
  content: "\e61a";
}

.icon-ercode:before {
  content: "\e61b";
}

.icon-link:before {
  content: "\e61c";
}

.icon-location:before {
  content: "\e61d";
}

.icon-plus-s:before {
  content: "\e61e";
}

.icon-plus:before {
  content: "\e61f";
}

.icon-message:before {
  content: "\e620";
}

.icon-phone:before {
  content: "\e622";
}

.icon-shield:before {
  content: "\e623";
}

.icon-tick-o:before {
  content: "\e624";
}

.icon-wechat:before {
  content: "\e625";
}

.icon-round:before {
  content: "\e626";
}

.icon-arrow-right-solid:before {
  content: "\e618";
}

.icon-star:before {
  content: "\e619";
}

.icon-time:before {
  content: "\e621";
}
