@import "variables";

.search {
  position: relative;
  display: flex;
  overflow: hidden;
  align-items: center;
  border-radius: 14rpx;
  box-shadow: 0 6rpx 18rpx 0 rgba($shadow-color, .1);
  background-color: white;
  padding-left: 120rpx;
  & > icon {
    position: absolute;
    top: 50%;
    left: 120rpx;
    transform: translateY(-50%);
  }
  & > &-input {
    padding: 20rpx 15rpx 18rpx 52rpx;
    flex: 1;
    background-color: white;
  }
}
.search-placeholder {
  opacity: .7;
  color: $muted-color;
  font-size: 28rpx;
  letter-spacing: 2rpx;
}
