@import "../../scss/variables";

nav {
  display: block;
}
.nav {
  display: flex;
  background-color: white;
  padding-top: 8rpx;

  .nav-item {
    position: relative;
    padding-top: 8rpx;
    flex: 1;
    font-size: 32rpx;
    line-height: 62rpx;
    text-align: center;
    color: $main-color;
    &::before {
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 42rpx;
      height: 4rpx;
      margin-left: -21rpx;
      content: "";
      transition: all .18s ease;
      border-radius: 2rpx;
      background-color: transparent;
    }
    &.active::before {
      background-color: $theme-color;
    }
  }
}
